<div class="main-body">
  <div class="row">
    <a routerLink="/users" class="return-link">&#8592; Back to users</a>
    <div class="col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              class="circle-img p-1 bg-primary"
              [src]="user.picture.large"
              [alt]="user.firstName"
            />
            <div class="mt-3">
              <h4>Name:</h4>
              <p class="text-secondary brightness_1">
                {{ user.userName }}
              </p>
              <p class="text-muted font-size-sm">ID: {{ user.uuid }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">First Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="firstName"
                id="firstName"
                [value]="user.firstName"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Last Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="lastName"
                id="lastName"
                [value]="user.lastName"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Date of Birth</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="dateOfBirth"
                id="dateOfBirth"
                [value]="user.dateOfBirth"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="email"
                id="email"
                [value]="user.email"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="phone"
                id="phone"
                [value]="user.phone"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Gender</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="gender"
                id="gender"
                [value]="user.gender"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                [disabled]="mode === 'locked'"
                class="form-control"
                name="address"
                id="address"
                [value]="user.address"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3">&#160;</div>
            <div class="col-sm-9 text-secondary">
              <button class="btn btn-primary px-4" (click)="changeMode(mode)">
                {{ btnSaveText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="d-flex align-items-center mb-3">User Location</h5>
            <div class="map-border">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
